[Desktop Entry]
Name=ArduinoStudio
Type=Application
Categories=Development
Exec=/opt/arduinostudio/arduinostudio %U
Icon=arduinostudio
MimeType=text/html;
Keywords=Text;Editor;Write;Web;Development;
