[Desktop Entry]
Name=Brackets
Type=Application
Categories=Development
Exec=/opt/arduinostudio/ArduinoStudio %U
Icon=arduinostudio
MimeType=text/html;
Keywords=Text;Editor;Write;Web;Development;
